{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "importOrder": [
    "server-only",
    "",
    "^react$",
    "^next/.*$",
    "sonner",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "<TYPES>",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
